#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@layer utilities {
  @media (width: 1024px) {
    .hide-exact-1024 {
      display: none !important;
    }
  }
}
@layer utilities {
  @media (width: 1024px) {
    .text-exact-1024-6xl {
      font-size: 3.75rem !important; 
      line-height: 1 !important;
    }
  }
}
@layer utilities {
  @media (width: 1024px) {
    .ml-exact-1024-0 {
      margin-left: 0 !important;
    }
  }
}
@layer utilities {
  @media (width: 1024px) {
    .text-exact-1024-xs {
      font-size: 0.75rem !important; 
      line-height: 1 !important;
    }
  }
}


